@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.card
{
    width: 18rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  h1{
    text-align: center;
    color: palevioletred;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 50px;
  }
  #cardFacil
  {
    margin-left: 40%;
    width: 18rem;

  }