@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.list-group-item
{
    width: 300px;
    margin-left: 40%;
    margin-top: 10px;
    font-family: 'Delicious Handrawn', cursive;
}
.list-group-item:hover
{
    background-color: whitesmoke;
    opacity: 0.5;
}
h3{
    align-items: center;
    margin-left: 4rem;
    color: black
}