@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.NavText
{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 48px;
    color: rgb(41, 42, 42)
}
.container-fluid
{
 font-style: italic;
 color: black;
}
.navbar
{
    position: fixed;
    width: 100%;
    margin-top: -3rem;
}